<!DOCTYPE html>
<html ng-app="sbApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seudan Beaga</title>
    <script src="//maps.googleapis.com/maps/api/js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="mainController as vm">
    <div class="navbar navbar-default fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Seudan Beaga", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="home">
                            <strong>Home</strong>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="about">
                            <strong>About</strong>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="gallery">
                            <strong>Gallery</strong>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="prices">
                            <strong>Prices</strong>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="faq">
                            <strong>FAQ</strong>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="contact">
                            <strong>Contact</strong>
                        </a>
                    </li>
                </ul>
                <div class="contactNav pull-right">
                    <p>Call us: <a href="tel:0141 633 3403">0141 633 3403</a></p>
                    <p>Email us: <a href="mailto:seudanbeaga@hotmail.co.uk">seudanbeaga@hotmail.co.uk</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Seudan Beaga Ltd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sbApp")
    @RenderSection("scripts", required: false)
</body>
</html>
